/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Caveat|Chewy|Cinzel+Decorative|Indie+Flower|Open+Sans|Satisfy|Sriracha|Yeseva+One&display=swap');
/* Background colors */
body{
  background-color:  #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
img{
  width: 400px;
  height: auto;
}*/
/*Header*/
header {
  width: 100%;
}

/*Imágen anclada y texto sobre esta*/
.hero {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("imagen/ARUBA/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero h1 {
  font-family: 'Cinzel Decorative';
  font-size: 7em;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 2px white;
}

.text-border{
  color: black;
  font-weight: 900;
}
/*Nav*/
#Menu{
  background-color: #191970;
  background-position: center;
  background-attachment: fixed;
  background-size: 100vw;
  max-width-height: 100vw;
  padding: 0;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}
#Menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#Menu ul li{
  display: inline-block;
}
#Menu ul li a{
  color: white;
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 33px 32px;
  text-decoration: none;
}
#Menu ul li a:hover{
  background-color: #6495ED;
}
/*estructura del texto*/

body {
  font-family: 'Quattrocento Sans';
  color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}    
p {
 font-family: 'Quattrocento Sans', sans-serif;
 font-size: 18px;
 color: black;
 text-align: justify;
 width: auto;
 height: auto;
 padding-left: 1em;
 padding-right: 1em;
 padding-bottom: 0;
 padding-top: 0;
 margin: 10px 0 10px 0;
 background-color: none;
 font-weight: normal;
 line-height: 1,95em;
}
h1{
  color: #000033;
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 16px;
  font-family: 'Roboto', Sans-serif;
}

h2 {
  color: #000033;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'Roboto', Sans-serif;
}  
h3 {
  color: #000033;
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Roboto', Sans-serif;
} 

#aside1 h3{
  text-align: center;
}
hr{
  background-color: #191970;
  height: 5px;
  }

/*Figura y figcaptiion*/
figure{
    margin: 0;
    display: inline-block;
    position: relative;

}
figcaption{
    display: none;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    padding: 5%;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
figure:hover figcaption{
    display: block;}
/*Contenedor gris*/
#container{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
    background: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 16px;
    padding-right: 16px;
  }
/*Contenedor blanco*/
#container2{  
    width: 70%;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 16px;
    padding-right: 16px;
}

#About{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  }
#History img{
  width: 400px;
  height: auto; 
  background-color: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#History{
  background-color: #f0f0f0;
  padding: 1px;
}
#content{
  width: 100%;
  height: auto; 
  background-color: white;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#Places {
  width: 100%;
  height: auto; 
  background-color: none;
  margin-top: 10px;
}
.PL{
  width: 320px;
  height: 200px;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
#Place1{
  width: 47%;
  height: auto; 
  background-color: #f0f0f0;
  float: left;
  margin-left: 15px;
 
}
#Place2{
  width: 47%;
  height: auto; 
  background-color: #f0f0f0;
  float: right;
  margin-right: 15px;
}

#Place3{
  width: 47%;
  height: auto; 
  background-color: #f0f0f0;
  float: left;
  margin-left: 15px;
}
#Place4{
  width: 47%;
  height: auto; 
  background-color: #f0f0f0;
  float: right;
  margin-right: 15px;
}
#Place5{
  padding-top: 10px;
  width: 96.05%;
  height: auto; 
  background-color: #f0f0f0;
  margin: 15px;
  margin-right: 20px;
}
#Restaurants{
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

.RST{
  width: 320px;
  height: 200px;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#itinerary{
  background-color: #f0f0f0;
}
li{
  display: list-item;
  list-style: disc outside;
  padding: 5px 0 0px;
  margin-left: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
}

/*Slide*/
.container-all{
    position: relative;
    max-width: 700px;*
    width: 00%;
    overflow: hidden;
    margin-left: 0px;
    background-color: white;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 85s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border-radius: 40px;
  }

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 700px;
     border-radius: 40px;
  }
.item-slide img {
    max-width: 100%!important;
     border-radius: 40px;
   }

@keyframes autoplay{
    5%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    10%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    15%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    20%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }

    25%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }

    30%{
        transform: translate3d(calc(-100% * 5), 0, 0);
    }

    35%{
        transform: translate3d(calc(-100% * 6), 0, 0);
    }

    40%{
        transform: translate3d(calc(-100% * 7), 0, 0);
    }

    45%{
        transform: translate3d(calc(-100% * 8), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 9), 0, 0);
    }

    55%{
        transform: translate3d(calc(-100% * 10), 0, 0);
    }

    60%{
        transform: translate3d(calc(-100% * 11), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 12), 0, 0);
    }

    73%{
        transform: translate3d(calc(-100% * 13), 0, 0);
    }

    82%{
        transform: translate3d(calc(-100% * 14), 0, 0);
    }

    93%{
        transform: translate3d(calc(-100% * 15), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 16), 0, 0);
    }
}

#aside1 {
   width: 28%;
   height: auto;
   background-color: #fff;
   float: right;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
  }

a:link {
    text-decoration:none;
    color: #191970;
}
 aside img{
   padding-bottom: 70px;
   width: 300px;
   height: 250px;

 }

 /*Semántica footer*/
 footer{
  width: 100%;
  height:50px;
  background-color: #191970;
  float: left;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
}